{% extends "allforms.html" %}

{% block content %}
<div class="container mt-auto align-items-center" style="max-width: 600px;">
    <form action="" method="POST" class="bg-light p-5 rounded">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center text-info">Reset Password</legend>
            {% for field in [form.password, form.confirm_password] %}
                <div class="form-group">
                    {{ field.label(class='form-control-label') }}
                    {% if field.errors %}
                        {{ field(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group my-3 d-flex justify-content-center">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
{%block footer%}
<footer class="footer bg-dark text-white mt-auto py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2023 Virtualbank. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}
